/* Semoga bisa di-index Bot Crawler. */
body article pre{
    color: transparent;
}

/* Table dari CSV-to-MarkDown perlu fit to windows. */
tbody td {
    white-space: nowrap;
    width: min-content;
    overflow-x: auto;
}

tbody td:first-child {
    width: 1px;
}

/* Override water css*/
table {
    table-layout: auto
}
