<li class="nav-item">
    <a class="nav-link" data-myfolder-toggle="offcanvas" data-myfolder-offcanvas-name='{{ offcanvas.name }}' aria-current="page" href="{{ url }}"><i class="bi bi-layout-sidebar"></i> {{ label }}</a>
</li>
