<li class="nav-item">
    <a class="nav-link" data-myfolder-toggle="modal" data-myfolder-modal-name='{{ modal.name }}' aria-current="page" href="{{ url }}"><i class="bi bi-window-sidebar"></i> {{ label }}</a>
</li>
