<p>Root directory is starting directory to browse by public.</p>
<form id="form-edit-root-directory" action="/index/dashboard/root" method="post" class="ajax">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Root Directory</span>
    <input value="{{ root }}" required="" name="root" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <input name="submit" type="submit" class="form-control d-none">
</form>
