<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
{% for url in css %}
<link href="{{ url }}" rel="stylesheet">
{% endfor %}
</head>
<body>
{% if front_matter %}
<pre>
<code>{{ front_matter | raw }}</code>
</pre>
{% endif %}
<article>
<pre>{{ markdown|raw }}</pre>
</article>
{% for url in js %}
<script src="{{ url }}"></script>
{% endfor %}
</body>
</html>
