<div id="card-user-sysadmin-create" class="card mb-2" aria-hidden="true">
  <div class="card-body">
    <p>Welcome, {{ sysadmin_default }}.</p>
    <p>{{ description }}</p>
    <form method="post" id="form-create" class="ajax" action="{{ url }}">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
        <input required="" name="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        <input required="" name="pass" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <input name="submit" type="submit" class="form-control d-none">
    </form>
    <form method="get" action="{{ urlAsk }}" class="ajax">
        <button id="create-account-next" class="btn btn-primary">Next</button>
    </form>
  </div>
</div>
