<div id="card-user-session" class="card mb-2" aria-hidden="true">
  <div class="card-body">
    <button class="btn btn-primary disabled placeholder"><span class="invisible">Logout</span></button>
  </div>
</div>
