<li class="nav-item">
    <a class="nav-link active" data-myfolder-toggle="modal" data-myfolder-modal-name='loginForm' aria-current="page" href="/user/login"><i class="bi bi-box-arrow-in-right"></i> {{ label }}</a>
</li>
