<p>Welcome.</p>
<form id="form-login" action="/user/login" method="post" class="ajax">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
    <input required="" name="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    <input required="" name="pass" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <input name="submit" type="submit" class="form-control d-none">
</form>
