<form method="get" action="{{ urlno }}" class="ajax">
<button id="confirmation-no" xname="confirmation" value="no" type="submit" class="btn btn-light ajax">{{ no }}</button>
</form>

<form method="get" action="{{ urlyes }}" class="ajax">
<button id="confirmation-yes" xname="confirmation" value="yes" type="submit" xformmethod="get" xformaction="" xdata-target="#form-create" class="btn btn-primary ajax">{{ yes }}</button>
</form>
