<p>Welcome, SysAdmin.</p>
<!-- <form method="post" id="form-create" class="ajax" action="{{ url }}"> -->
<p>
We will create separate file for configuration named <code>config-replace.php</code> locate in the
same directory of the application script.
This will help you keep the configuration exists when updating the application.
</p>

<p>
Clicking "yes" will create the <code>config-replace.php</code> file and save the configuration
there. This will also apply to future configurations.
</p>

<p>
However, clicking "no" will save the configuration within the application script.
</p>

<!-- <input name="name" type="hidden" class="form-control" value="{{ name }}"> -->
<!-- <input name="pass" type="hidden" class="form-control" value="{{ pass }}"> -->
<!-- <input name="submit" type="submit" class="form-control d-none"> -->
<!-- </form> -->
